// src/styles/_variables.scss

// Colors
$primary-bg: #141414;
$secondary-bg: #181818;
$text-color: #e5e5e5;
$accent-color: #e50914;

// Font Sizes
$font-lg: 1.5rem;
$font-md: 1rem;
$font-sm: 0.875rem;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;