.heroCarousel {
  width: 100%;
  height: 100%;
  position: relative;

  &__slide {
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.4);
  }

  &__content{
    position: absolute;
    left: 3rem;
    top: 60%;
    transform: translateY(-40%);
  }

  &__title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__description{
    max-width: 600px;
  }

  :global(.swiper-pagination) {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  :global(.swiper-pagination-bullet) {
    background: white;
    border-radius: 0.5rem;
    opacity: 0.7;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: blue;
    border-radius: 0.5rem;
    opacity: 1;
  }

  @media (min-width: 768px) {
    :global(.swiper-pagination-bullet) {
      width: 1rem;
      height: 1rem;
    }
  
    :global(.swiper-pagination-bullet-active) {
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}
